<blockquote class="blockquote text-center"  style="margin-bottom: 70px;">

<div >
        
    <h4 class="alert-heading display-4 letras" >Consulta evaluaciones de proyecto</h4>
        
    </div>


</blockquote>


<div class="text-center "  style="margin-bottom: 50px;">



        
        <mat-form-field class="largo"> 


        <mat-label>Seleccionar</mat-label>

        <mat-select [(ngModel)]="idArea">
            <mat-option *ngFor="let area of areas" (click)="cargar()"   [value]="area.codigoArea">
            {{area.nombreArea}}
            </mat-option>
        </mat-select>

        </mat-form-field>

        
        <a  routerLink="/registrarEvaluacion/123/{{idArea}}">ver</a>
            

</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="idProyecto">
    <th mat-header-cell *matHeaderCellDef>Ref</th>
    <td mat-cell *matCellDef="let element"> {{element.idProyecto}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
  </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="resumen">
      <th mat-header-cell *matHeaderCellDef>Resumen del trabajo</th>
      <td mat-cell *matCellDef="let element"> {{element.resumen}} </td>
    </ng-container>

    <ng-container matColumnDef="metodologia">
      <th mat-header-cell *matHeaderCellDef>metodologia usada</th>
      <td mat-cell *matCellDef="let element"> {{element.metodologia}} </td>
    </ng-container>





  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  
</table>

<div>
    
  <mat-paginator [pageSizeOptions]="[1, 2, 20]" showFirstLastButtons></mat-paginator>
  
</div>




