.largo{
    width: 40%;
}

.letras{

    opacity: 1.0;
    padding: 20px;
    border-radius: 20px;
    color: #339240;

}


table {

    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

