
<blockquote class="blockquote text-center" style="margin-bottom: 80px;">

    <p class="mb-0" class="display-3 colorLetras">Registrar Evaluación</p>

</blockquote>

<div class="row" *ngIf="proyecto!=null && area!=null" >

    
    <div class="col-sm-4" >


        <p class="p-2 bg-dark text-white">Id: {{area.codigoArea}}    <br><br>  Area: {{area.nombreArea}}</p>

        <p class="p-2 bg-light text-dark" > Proyecto: {{idPoryecto}}   <br><br>  Nombre: {{proyecto.titulo}}</p>

    </div>

    <div class="col-sm-8">


        <div class="table-responsive">


            <table class="table table-light  table-hover" *ngIf="preguntas && preguntas.length">

                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pregunta</th>
                    <th scope="col">Valor</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let pregunta of preguntas  ; index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ pregunta.pregunta }} </td>
                    <td>
                        {{pregunta.valor}}
                    </td>
                </tr>

                </tbody>
        
            </table>
        </div>
    </div>



</div>